.user-liked-list{
    width: 250px;
    height: fit-content;
    background-color: white;
    border-radius: 8px;
    list-style: none;
}

.user-liked-list a{
    text-decoration: none;
    color: black;
}


.user-liked-list li{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 10px 0px;
}

.user-liked-list span{
    margin-left: 14px;
}


.user-liked-list img{
    height: 32px;
    width: 32px;
    object-fit: cover;
    border-radius: 100%;
}
